@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

* {
	margin: 0;
}
html, body {
	height: 100%;

}

html {
	
}
body {
	
	
	position: relative;
	left: 0;	
	font-family: sans-serif;  
	background-color: white;
}

a {
	color: #c3c3c3;
	text-decoration: none;
}
a:hover {
	color: #bf616a;
}

.splash-logo {
	max-width: 100%;
    height: auto;
    
	display: block;
	margin: 0 auto 0 auto;
	padding: 3em 0 3em 0;
	pointer-events: none;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 75px; /* .push must be the same height as .footer */
}
.footer {
	z-index: 99;
	background-color: white;

	color: #c3c3c3;
	font-size: 0.8em;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;

}
.footer-container {
	margin-right: auto;
	
	text-align: center;
	padding-top: 2em;
}

.content {
	padding: 2em 0 2em 0;
	color: #c3c3c3;
	font-size: 1.5em;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	
}


.splash {
	width: 100%;
	background-color: black;
}

