
:root {
  --bg-color-dark: #1E1E1E;
  --bg-color-light: #E3E0D7;
  --font-color: #1E1E1E;
  --footer-font: #1E1E1E;
  --primary-color: #1E1E1E;
  --primary-hover-color: rgb(44, 44, 44);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color-light);
  color: var(--font-color);
}

/*************
TYPOGRAPHY
*************/
h2 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}
label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}


/*************
CONTAINERS
*************/
#wrapper {
  min-height: 100%;
  /* EQUAL HEIGHT OF FOOTER */
  margin-bottom: -50px; 
}

.container-full {
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--bg-color-dark);   */
}

section {
  padding: 8rem 0 0 0;
}

/*************
NAVIGATION
*************/
nav {
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
  display: flex;
  /* border-bottom: 3px solid var(--bg-color-dark); */
  
}

.nav-logo {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  max-width: 80px;
  display: block;
}

.nav-links ul {
  position: absolute;
  right: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-links ul li {
  position: relative;
  margin-left: 2rem;
  padding: 1rem 0 1rem 0;
  color: var(--bg-color-dark);
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 1.4rem;
}

.nav-links ul li a {
  text-decoration: none;
}

.nav-links ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.nav-links ul li:hover::after {
  content: "";
  display: block;
  background-color: var(--primary-color);
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}


/*************
FOOTER
*************/
.footer,
.push {
  height: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--footer-font);
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}